<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @routine.customer.firstname %> <%= @routine.customer.lastname %>'s routine [#<%= @routine.id %>]
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/customers/<%= @routine.customer_id %>" class="btn btn-block btn-outline-secondary">
          Back to customer
        </a>
      </div>
      
         <div class="col">
        <a href="mailto:<%= @routine.customer.email %>" class="btn btn-block btn-outline-primary">
          Email Routine
        </a>
      </div>

      <div class="col">
        <a href="/routines/<%= @routine.id %>/edit" class="btn btn-block btn-outline-secondary">
          (De)activate routine
        </a>
      </div>
      
   

      <div class="col">
        <a href="/delete_routine/<%= @routine.id %>" class="btn btn-block btn-outline-secondary">
          Delete routine
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Customer
      </dt>
      <dd>
        <% if @routine.customer.present? %>
           <%= @routine.customer.firstname %> <%= @routine.customer.lastname %> - 
            <%= @routine.customer.email %>
        <% end %>
      </dd>

      <dt>
        Routine Active? - <a href="/routines/<%= @routine.id %>/edit">Edit</a>
      </dt>
      <dd>
        <%= @routine.active %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@routine.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@routine.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "routine_templates/routine_routine_products" %>
  </div>
</div>
