<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Routine #<%= @routine.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/routines" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/routines/<%= @routine.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit routine
        </a>
      </div>

      <div class="col">
        <a href="/delete_routine/<%= @routine.id %>" class="btn btn-block btn-outline-secondary">
          Delete routine
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Customer
      </dt>
      <dd>
        <% if @routine.customer.present? %>
          <a href="/customers/<%= @routine.customer_id %>">
            <%= @routine.customer.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Active
      </dt>
      <dd>
        <%= @routine.active %>
      </dd>

      <dt>
        Createdby
      </dt>
      <dd>
        <% if @routine.createdby.present? %>
          <a href="/coaches/<%= @routine.createdby_id %>">
            <%= @routine.createdby.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@routine.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@routine.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "routine_templates/routine_routine_products" %>
  </div>
</div>
