<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Usefrequency #<%= @usefrequency.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/usefrequencies" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link usefrequency start -->
      <div class="col">
        <a href="/usefrequencies/<%= @usefrequency.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit usefrequency
        </a>
      </div>
      <!-- Edit link usefrequency end -->

      <!-- Delete link usefrequency start -->
      <div class="col">
        <a href="/delete_usefrequency/<%= @usefrequency.id %>" class="btn btn-block btn-outline-secondary">
          Delete usefrequency
        </a>
      </div>
      <!-- Delete link usefrequency end -->
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @usefrequency.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@usefrequency.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@usefrequency.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "usefrequency_templates/usefrequency_routine_products" %>
  </div>
</div>
<!-- Show Page Customization end -->
