<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Usefrequency #<%= @usefrequency.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/usefrequencies" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/usefrequencies/<%= @usefrequency.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit usefrequency
        </a>
      </div>

      <div class="col">
        <a href="/delete_usefrequency/<%= @usefrequency.id %>" class="btn btn-block btn-outline-secondary">
          Delete usefrequency
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @usefrequency.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@usefrequency.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@usefrequency.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "usefrequency_templates/usefrequency_routine_products" %>
  </div>
</div>
