<!-- Validation failure messages -->
<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit product #<%= @product.id %>
</h1>

<hr>

<!-- Form product start -->
<form action="/update_product/<%= @product.id %>" method="post" enctype="multipart/form-data">
<!-- Form product end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @product.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <input type="text" id="category_id" name="category_id" class="form-control" value="<%= @product.category_id %>">
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <!-- Label and input for average_price start -->
  <div class="form-group">
    <label for="average_price">
      Average price
    </label>

    <!-- Input for average_price start -->
    <input type="text" id="average_price" name="average_price" class="form-control" value="<%= @product.average_price %>">
    <!-- Input for average_price end -->
  </div>
  <!-- Label and input for average_price end -->

  <!-- Label and input for product_image start -->
  <div class="form-group">
    <label for="product_image">
      Product image
    </label>

    <!-- Input for product_image start -->
    <%= cl_image_tag(@product.product_image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="product_image" name="product_image" class="form-control">
    <!-- Input for product_image end -->
  </div>
  <!-- Label and input for product_image end -->

  <!-- Label and input for purchase_link start -->
  <div class="form-group">
    <label for="purchase_link">
      Purchase link
    </label>

    <!-- Input for purchase_link start -->
    <input type="text" id="purchase_link" name="purchase_link" class="form-control" value="<%= @product.purchase_link %>">
    <!-- Input for purchase_link end -->
  </div>
  <!-- Label and input for purchase_link end -->

  <button class="btn btn-block btn-outline-secondary">
    Update product
  </button>
</form>

<hr>

<a href="/products">
  Go back
</a>
