<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All coaches
    </h1>

    <a href="/coaches/new" class="btn btn-block btn-outline-secondary">
      Add a new coach
    </a>
  </div>
</div>





<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Firstname
        </th>

        <th>
          Lastname
        </th>

        <th>
          Email
        </th>

        <th>
          Password
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @coaches.each do |coach| %>
      <tr>
        <td>
          <%= coach.id %>
        </td>

        <td>
          <%= coach.firstname %>
        </td>

        <td>
          <%= coach.lastname %>
        </td>

        <td>
          <%= coach.email %>
        </td>

        <td>
          <%= coach.password %>
        </td>

        <td>
          <%= time_ago_in_words(coach.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(coach.updated_at) %> ago
        </td>

        <td>
          <a href="/coaches/<%= coach.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @coaches, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
