<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Coach #<%= @coach.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/coaches" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/coaches/<%= @coach.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit coach
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Firstname
      </dt>
      <dd>
        <%= @coach.firstname %>
      </dd>

      <dt>
        Lastname
      </dt>
      <dd>
        <%= @coach.lastname %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @coach.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @coach.password %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@coach.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@coach.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "coach_templates/coach_routines" %>
  </div>
</div>
