<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @concern.name.capitalize %>
    </h1>

<img src="<%= @concern.example_photo %>" class="img-fluid" width="300px">
    
<div class="row">
  <div class="col">
    <dl>
      
      <dt>
        About this concern
      </dt>
      <dd>
        <%= @concern.description %>
      </dd>

    </dl>
  </div>
</div>

  </div>
</div>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "concern_templates/concern_product_concerns" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "concern_templates/concern_customer_concerns" %>
  </div>
</div>


<div class="row mb-3">
<div class="col-md-8 offset-md-2">

<div class="row mb-3">
      <div class="col">
        <a href="/concerns" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/concerns/<%= @concern.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit concern
        </a>
      </div>

      <div class="col">
        <a href="/delete_concern/<%= @concern.id %>" class="btn btn-block btn-outline-secondary">
          Delete concern
        </a>
      </div>
    </div>
    
          </div>
    </div>