<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Concern #<%= @concern.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/concerns" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link concern start -->
      <div class="col">
        <a href="/concerns/<%= @concern.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit concern
        </a>
      </div>
      <!-- Edit link concern end -->

      <!-- Delete link concern start -->
      <div class="col">
        <a href="/delete_concern/<%= @concern.id %>" class="btn btn-block btn-outline-secondary">
          Delete concern
        </a>
      </div>
      <!-- Delete link concern end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @concern.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @concern.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Example photo
      </dt>
      <!-- Display example_photo start -->
      <dd>
        <%= @concern.example_photo %>
      </dd>
      <!-- Display example_photo end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@concern.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@concern.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "concern_templates/concern_customer_concerns" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "concern_templates/concern_product_concerns" %>
  </div>
</div>
<!-- Show Page Customization end -->
