<!-- Validation failure messages -->
<% if @routine_product.present? %>
  <% if @routine_product.errors.any? %>
    <% @routine_product.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new routine product
</h1>


<hr>

<!-- Form routine_product start -->
<form action="/create_routine_product" method="post">
<!-- Form routine_product end -->

  <!-- Label and input for routine_id start -->
  <div class="form-group">
    <label for="routine_id">
      Routine
    </label>

    <!-- Input for routine_id start -->
    <%= select_tag(:routine_id, options_from_collection_for_select(Routine.all, :id, :customer_id, @routine_product.routine_id), :class => "form-control") %>
    <!-- Input for routine_id end -->
  </div>
  <!-- Label and input for routine_id end -->

  <!-- Label and input for product_id start -->
  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <!-- Input for product_id start -->
    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @routine_product.product_id), :class => "form-control") %>
    <!-- Input for product_id end -->
  </div>
  <!-- Label and input for product_id end -->

  <!-- Label and input for use_frequency_id start -->
  <div class="form-group">
    <label for="use_frequency_id">
      Use frequency
    </label>

    <!-- Input for use_frequency_id start -->
    <%= select_tag(:use_frequency_id, options_from_collection_for_select(Usefrequency.all, :id, :description, @routine_product.use_frequency_id), :class => "form-control") %>
    <!-- Input for use_frequency_id end -->
  </div>
  <!-- Label and input for use_frequency_id end -->

  <!-- Label and input for note start -->
  <div class="form-group">
    <label for="note">
      Note
    </label>

    <!-- Input for note start -->
    <textarea id="note" name="note" class="form-control" rows="3"><%= @routine_product.note %></textarea>
    <!-- Input for note end -->
  </div>
  <!-- Label and input for note end -->

  <button class="btn btn-block btn-outline-secondary">
    Create routine product
  </button>
</form>

<hr>

<a href="/routine_products">
  Go back
</a>
