<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Routine product #<%= @routine_product.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/routine_products" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/routine_products/<%= @routine_product.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit routine product
        </a>
      </div>

      <div class="col">
        <a href="/delete_routine_product/<%= @routine_product.id %>" class="btn btn-block btn-outline-secondary">
          Delete routine product
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Routine
      </dt>
      <dd>
        <% if @routine_product.routine.present? %>
          <a href="/routines/<%= @routine_product.routine_id %>">
            <%= @routine_product.routine.customer_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Product
      </dt>
      <dd>
        <% if @routine_product.product.present? %>
          <a href="/products/<%= @routine_product.product_id %>">
            <%= @routine_product.product.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Use frequency
      </dt>
      <dd>
        <% if @routine_product.use_frequency.present? %>
          <a href="/usefrequencies/<%= @routine_product.use_frequency_id %>">
            <%= @routine_product.use_frequency.description %>
          </a>
        <% end %>
      </dd>

      <dt>
        Note
      </dt>
      <dd>
        <%= @routine_product.note %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@routine_product.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@routine_product.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

