<!-- Validation failure messages -->
<% if @customer_concern.errors.any? %>
  <% @customer_concern.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit customer concern #<%= @customer_concern.id %>
</h1>

<hr>

<!-- Form customer_concern start -->
<form action="/update_customer_concern/<%= @customer_concern.id %>" method="post">
<!-- Form customer_concern end -->

  <!-- Label and input for concern_id start -->
  <div class="form-group">
    <label for="concern_id">
      Concern
    </label>

    <!-- Input for concern_id start -->
    <input type="text" id="concern_id" name="concern_id" class="form-control" value="<%= @customer_concern.concern_id %>">
    <!-- Input for concern_id end -->
  </div>
  <!-- Label and input for concern_id end -->

  <!-- Label and input for customer_id start -->
  <div class="form-group">
    <label for="customer_id">
      Customer
    </label>

    <!-- Input for customer_id start -->
    <input type="text" id="customer_id" name="customer_id" class="form-control" value="<%= @customer_concern.customer_id %>">
    <!-- Input for customer_id end -->
  </div>
  <!-- Label and input for customer_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update customer concern
  </button>
</form>

<hr>

<a href="/customer_concerns">
  Go back
</a>
