<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All customer concerns
    </h1>

    <a href="/customer_concerns/new" class="btn btn-block btn-outline-secondary">
      Add a new customer concern
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "customer_concern_templates/customer_concerns_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Concern
        </th>

        <th>
          Customer
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @customer_concerns.each do |customer_concern| %>
      <tr>
        <td>
          <%= customer_concern.id %>
        </td>

        <td>
          <% if customer_concern.concern.present? %>
            <a href="/concerns/<%= customer_concern.concern.id %>">
              <%= customer_concern.concern.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if customer_concern.customer.present? %>
            <a href="/customers/<%= customer_concern.customer.id %>">
              <%= customer_concern.customer.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(customer_concern.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(customer_concern.updated_at) %> ago
        </td>

        <td>
          <a href="/customer_concerns/<%= customer_concern.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @customer_concerns, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
