<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Customer concern #<%= @customer_concern.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/customer_concerns" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/customer_concerns/<%= @customer_concern.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit customer concern
        </a>
      </div>

      <div class="col">
        <a href="/delete_customer_concern/<%= @customer_concern.id %>" class="btn btn-block btn-outline-secondary">
          Delete customer concern
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Concern
      </dt>
      <dd>
        <% if @customer_concern.concern.present? %>
          <a href="/concerns/<%= @customer_concern.concern_id %>">
            <%= @customer_concern.concern.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Customer
      </dt>
      <dd>
        <% if @customer_concern.customer.present? %>
          <a href="/customers/<%= @customer_concern.customer_id %>">
            <%= @customer_concern.customer.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@customer_concern.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@customer_concern.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

