<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
   <h3> Routines </h3>

    <a data-toggle="collapse" href="#customer_routines_new_form">
      Add routine
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @customer.routines.each do |routine| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">

        <div class="col" align="left"><%= routine.activereadable %></div>

         <div class="col" align="left"><%= routine.created_at.strftime("Created on %m/%d/%Y at %I:%M %p") %></div>
        
        <div class="col" align="center"><a href="/routines/<%= routine.id %>">
          View Details
        </a>
        </div>
        
        <div class="col" align="center"><a href="mailto: <%= routine.customer.email %>?Subject=Your%GRWMD%Routine ">
          Email Customer
        </a></div>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="customer_routines_new_form">
        <%= render partial: "customer_templates/customer_routines_new_form" %>
      </div>
    </div>

  </ul>
</div>
