<%= search_form_for @q, :class => collapse_search_form, :id => "customers_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :email_cont, "Email" %>
    <%= f.text_field :email_cont, :class => "form-control", :placeholder => " " %>
  </div>
  
  <div class="form-group">
    <%= f.label :firstname_cont, "First Name" %>
    <%= f.text_field :firstname_cont, :class => "form-control", :placeholder => " " %>
  </div>
  
  <div class="form-group">
    <%= f.label :lastname_cont, "Last Name" %>
    <%= f.text_field :lastname_cont, :class => "form-control", :placeholder => " " %>
  </div>

  <div class="form-group">
    <%= f.label :phone_cont, "Phone number" %>
    <%= f.text_field :phone_cont, :class => "form-control", :placeholder => " " %>
  </div>
  
    <div class="form-group">
    <%= f.label :address_zipcode_cont, "Zipcode" %>
    <%= f.text_field :address_zipcode_cont, :class => "form-control", :placeholder => " " %>
  </div>

  <!--<div class="form-group">-->
  <!--  <%= f.label :optin_texts_eq, "Optin texts" %>-->
  <!--  <div>-->
  <!--    <label class="radio-inline">-->
  <!--      <%= f.radio_button :optin_texts_eq, "1", checked: ((params[:q] && params[:q][:optin_texts_eq]) == "1" ? "checked" : "") %> Yes-->
  <!--    </label>-->
  <!--    <label class="radio-inline">-->
  <!--      <%= f.radio_button :optin_texts_eq, "0", checked: ((params[:q] && params[:q][:optin_texts_eq]) == "0" ? "checked" : "")%> No-->
  <!--    </label>-->
  <!--    <label class="radio-inline">-->
  <!--      <%= f.radio_button :optin_texts_eq, ""%> Either-->
  <!--    </label>-->
  <!--  </div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
  <!--  <%= f.label :optin_email_eq, "Optin email" %>-->
  <!--  <div>-->
  <!--    <label class="radio-inline">-->
  <!--      <%= f.radio_button :optin_email_eq, "1", checked: ((params[:q] && params[:q][:optin_email_eq]) == "1" ? "checked" : "") %> Yes-->
  <!--    </label>-->
  <!--    <label class="radio-inline">-->
  <!--      <%= f.radio_button :optin_email_eq, "0", checked: ((params[:q] && params[:q][:optin_email_eq]) == "0" ? "checked" : "")%> No-->
  <!--    </label>-->
  <!--    <label class="radio-inline">-->
  <!--      <%= f.radio_button :optin_email_eq, ""%> Either-->
  <!--    </label>-->
  <!--  </div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
  <!--  <%= f.label :notes_cont, "Notes contains" %>-->
  <!--  <%= f.text_field :notes_cont, :class => "form-control", :placeholder => "Notes contains" %>-->
  <!--</div>-->

  <!--<div class="form-group">-->
  <!--  <%= f.label :address_state_cont, "Address state contains" %>-->
  <!--  <%= f.text_field :address_state_cont, :class => "form-control", :placeholder => "Address state contains" %>-->
  <!--</div>-->

  <!--<div class="form-group">-->
  <!--  <%= f.label :address_city_cont, "Address city contains" %>-->
  <!--  <%= f.text_field :address_city_cont, :class => "form-control", :placeholder => "Address city contains" %>-->
  <!--</div>-->

  <!--<div class="form-group">-->
  <!--  <%= f.label :birthday, "Birthday" %>-->
  <!--  <div class="row">-->
  <!--    <div class='col-md-6 mb-1'>-->
  <!--      <div class='input-group date' id='birthdaygteqPicker' data-target-input="nearest">-->
  <!--        <%= f.text_field :birthday_gteq, :class => "form-control datetimepicker-input", :placeholder => "Birthday greater than or equal to", :data => {:target => '#birthdaygteqPicker'} %>-->
  <!--        <div class="input-group-append" data-target='#birthdaygteqPicker' data-toggle="datetimepicker">-->
  <!--          <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class='col-md-6'>-->
  <!--      <div class='input-group date' id='birthdaylteqPicker' data-target-input="nearest">-->
  <!--        <%= f.text_field :birthday_lteq, :class => "form-control datetimepicker-input", :placeholder => "Birthday less than or equal to", :data => {:target => '#birthdaylteqPicker'} %>-->
  <!--        <div class="input-group-append" data-target='#birthdaylteqPicker' data-toggle="datetimepicker">-->
  <!--          <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<script type="text/javascript">-->
  <!--    $(function () {-->
  <!--        $('#birthdaygteqPicker').datetimepicker({-->
  <!--            format: 'MM/DD/YYYY'-->
  <!--        });-->
  <!--        $('#birthdaylteqPicker').datetimepicker({-->
  <!--            useCurrent: false,-->
  <!--            format: 'MM/DD/YYYY'-->
  <!--        });-->
  <!--        $('#birthdaygteqPicker').on("dp.change", function (e) {-->
  <!--            $('#birthdaylteqPicker').data("DateTimePicker").minDate(e.date);-->
  <!--        });-->
  <!--        $('#birthdaylteqPicker').on("dp.change", function (e) {-->
  <!--            $('#birthdaygteqPicker').data("DateTimePicker").maxDate(e.date);-->
  <!--        });-->
  <!--    });-->
  <!--</script>-->

 

  <!--<div class="form-group">-->
  <!--  <%= f.label :created_at, "Created at" %>-->
  <!--  <div class="row">-->
  <!--    <div class='col-md-6 mb-1'>-->
  <!--      <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">-->
  <!--        <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>-->
  <!--        <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">-->
  <!--          <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class='col-md-6'>-->
  <!--      <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">-->
  <!--        <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>-->
  <!--        <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">-->
  <!--          <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<script type="text/javascript">-->
  <!--    $(function () {-->
  <!--        $('#created_atgteqPicker').datetimepicker({-->
  <!--            format: 'YYYY-MM-DD hh:mm:SS'-->
  <!--        });-->
  <!--        $('#created_atlteqPicker').datetimepicker({-->
  <!--            useCurrent: false,-->
  <!--            format: 'YYYY-MM-DD hh:mm:SS'-->
  <!--        });-->
  <!--        $('#created_atgteqPicker').on("dp.change", function (e) {-->
  <!--            $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);-->
  <!--        });-->
  <!--        $('#created_atlteqPicker').on("dp.change", function (e) {-->
  <!--            $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);-->
  <!--        });-->
  <!--    });-->
  <!--</script>-->




  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
  <a href="/customers" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>
<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#customers_filters">
  Toggle filters
</a>

