<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All customers
    </h1>

    <a href="/customers/new" class="btn btn-block btn-outline-secondary">
      Add a new customer
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->
<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "customer_templates/all_photos_map" %>
  </div>
</div>
<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Email
        </th>

        <th>
          Firstname
        </th>

        <th>
          Lastname
        </th>

        <th>
          Profile photo
        </th>

        <th>
          Birthday
        </th>

        <th>
          Address street
        </th>

        <th>
          Address city
        </th>

        <th>
          Address state
        </th>

        <th>
          Address zipcode
        </th>

        <th>
          Notes
        </th>

        <th>
          Optin email
        </th>

        <th>
          Optin texts
        </th>

        <th>
          Phone
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @customers.each do |customer| %>
      <tr>
        <!-- Display customer.id start -->
        <td>
          <%= customer.id %>
        </td>
        <!-- Display customer.id end -->

        <!-- Display customer.email start -->
        <td>
          <%= customer.email %>
        </td>
        <!-- Display customer.email end -->

        <!-- Display customer.firstname start -->
        <td>
          <%= customer.firstname %>
        </td>
        <!-- Display customer.firstname end -->

        <!-- Display customer.lastname start -->
        <td>
          <%= customer.lastname %>
        </td>
        <!-- Display customer.lastname end -->

        <!-- Display customer.profile_photo start -->
        <td>
          <img src='<%= customer.profile_photo %>' class='img-fluid'>
        </td>
        <!-- Display customer.profile_photo end -->

        <!-- Display customer.birthday start -->
        <td>
          <%= customer.birthday %>
        </td>
        <!-- Display customer.birthday end -->

        <!-- Display customer.address_street start -->
        <td>
          <%= customer.address_street %>
        </td>
        <!-- Display customer.address_street end -->

        <!-- Display customer.address_city start -->
        <td>
          <%= customer.address_city %>
        </td>
        <!-- Display customer.address_city end -->

        <!-- Display customer.address_state start -->
        <td>
          <%= customer.address_state %>
        </td>
        <!-- Display customer.address_state end -->

        <!-- Display customer.address_zipcode start -->
        <td>
          <%= customer.address_zipcode %>
        </td>
        <!-- Display customer.address_zipcode end -->

        <!-- Display customer.notes start -->
        <td>
          <%= customer.notes %>
        </td>
        <!-- Display customer.notes end -->

        <!-- Display customer.optin_email start -->
        <td>
          <%= customer.optin_email %>
        </td>
        <!-- Display customer.optin_email end -->

        <!-- Display customer.optin_texts start -->
        <td>
          <%= customer.optin_texts %>
        </td>
        <!-- Display customer.optin_texts end -->

        <!-- Display customer.phone start -->
        <td>
          <%= customer.phone %>
        </td>
        <!-- Display customer.phone end -->

        <!-- Display customer.created_at start -->
        <td>
          <%= time_ago_in_words(customer.created_at) %> ago
        </td>
        <!-- Display customer.created_at end -->

        <!-- Display customer.updated_at start -->
        <td>
          <%= time_ago_in_words(customer.updated_at) %> ago
        </td>
        <!-- Display customer.updated_at end -->

        <td>
          <a href="/customers/<%= customer.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @customers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
