<!--<div class="row mb-3">-->
<!--  <div class="col-md-12">-->



<div class="row">
  <!--<div class="col">-->
  <!--    <a href="/customers/new" class="btn btn-block btn-outline-secondary">-->
  <!--    Add a new customer-->
  <!--  </a>-->
  <!--</div>-->
  <div class="col">
      <h1>
      All customers
      </h1>
  </div>
  
  <div class="col">
    <%= render partial: "customer_templates/customers_search_form" %>
  </div>
</div>
    

<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-md-12 mb-3">-->
<!--    <% render partial: "customer_templates/customers_search_form" %>-->
<!--  </div>-->
<!--</div>-->


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Customer ID
        </th>

        <th>
          Name
        </th>
        
        <th>
          Email
        </th>

        <th>
          Phone
        </th>
        
        <th>
          Email Opt-In
        </th>

        <th>
          Text Opt-In
        </th>

        <th>
          Last Updated
        </th>

        <th>
        </th>
      </tr>

      <% @customers.each do |customer| %>
      <tr>
        
        <td>
          <%= customer.id %>
        </td>

        <td>
          <%= customer.firstname %> <%= customer.lastname %>
        </td>

       <td>
          <%= customer.email %>
        </td>

        <td>
          <%= number_to_phone(customer.phone) %>
        </td>

        <td>
          <%= customer.optInEmail_check %>
        </td>

        <td>
          <%= customer.optInText_check %>
        </td>


        <td>
          <%= time_ago_in_words(customer.updated_at) %> ago
        </td>

        <td>
          <a href="/customers/<%= customer.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @customers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
