<% if @customer.present? %>
  <% if @customer.errors.any? %>
    <% @customer.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new customer
</h1>


<hr>

<form action="/create_customer" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @customer.email %>">
  </div>

  <div class="form-group">
    <label for="firstname">
      Firstname
    </label>

    <input type="text" id="firstname" name="firstname" class="form-control" value="<%= @customer.firstname %>">
  </div>

  <div class="form-group">
    <label for="lastname">
      Lastname
    </label>

    <input type="text" id="lastname" name="lastname" class="form-control" value="<%= @customer.lastname %>">
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="file" id="photo" name="photo" class="form-control">
  </div>

  <div class="form-group">
    <label for="birthday">
      Birthday
    </label>

    <input type="text" id="birthday" name="birthday" class="form-control" value="<%= @customer.birthday %>">
  </div>

  <div class="form-group">
    <label for="address_street">
      Address street
    </label>

    <input type="text" id="address_street" name="address_street" class="form-control" value="<%= @customer.address_street %>">
  </div>

  <div class="form-group">
    <label for="address_city">
      Address city
    </label>

    <input type="text" id="address_city" name="address_city" class="form-control" value="<%= @customer.address_city %>">
  </div>

  <div class="form-group">
    <label for="address_state">
      Address state
    </label>

    <input type="text" id="address_state" name="address_state" class="form-control" value="<%= @customer.address_state %>">
  </div>

  <div class="form-group">
    <label for="address_zipcode">
      Address zipcode
    </label>

    <input type="text" id="address_zipcode" name="address_zipcode" class="form-control" value="<%= @customer.address_zipcode %>">
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @customer.notes %></textarea>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="optin_email">
    <input id="optin_email" class="form-check-input" name="optin_email" type="checkbox" <%= "checked" if @customer.optin_email %>>
    <label for="optin_email" class="form-check-label">
      Optin email
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="optin_texts">
    <input id="optin_texts" class="form-check-input" name="optin_texts" type="checkbox" <%= "checked" if @customer.optin_texts %>>
    <label for="optin_texts" class="form-check-label">
      Optin texts
    </label>
  </div>

  <div class="form-group">
    <label for="phone">
      Phone
    </label>

    <input type="text" id="phone" name="phone" class="form-control" value="<%= @customer.phone %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create customer
  </button>
</form>

<hr>

<a href="/customers">
  Go back
</a>
