<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

<h1><%= @customer.firstname %>'s details</h1>

<hr>

<div><img src="<%= @customer.profile_photo %>" class="img-fluid" width="300px"></div>
<div></div>
  
      <h2>Personal Information</h2>
<div class="row">
  <div class="col">
      <dl><dt>
        Name
      </dt>
      <dd>
        <%= @customer.firstname %> <%= @customer.lastname %>
      </dd>

      <dt>
        Email Address
      </dt>
      <dd>
        <%= @customer.email %>
      </dd>

      <dt>
        Phone Number
      </dt>
      <dd>
        <%= number_to_phone(@customer.phone) %>
      </dd>

      <dt>
        Birthday
      </dt>
      <dd>
        <%= @customer.birthday %>
      </dd>
        <dd>
        <%= @customer.age  %> years old
      </dd>


      </dl>
  </div>
  
  <div class="col">
      <dl>
        <dt>
        Address
      </dt>
      <dd>
       <%= @customer.address_street %>
      </dd>
      <dd>
        <%= @customer.address_city %>, <%= @customer.address_state %>
      </dd>
      <dd>
        <%= @customer.address_zipcode %>
      </dd>
      </dl>
  </div>

  <div class="col">
      <dl>
        <dt>
        Receives Email
      </dt>
      <dd>
        <%= @customer.optInEmail_check %>
      </dd>

      <dt>
        Receives Texts
      </dt>
      <dd>
        <%= @customer.optInText_check %>
      </dd>
      
      <dt>
        Joined
      </dt>
      <dd>
        <%= time_ago_in_words(@customer.created_at) %> ago
      </dd>

      <dt>
        Last Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@customer.updated_at) %> ago
      </dd>
      </dl>
      
  </div>
</div>

<hr>

<h2>Notes</h2>
<div><%= @customer.notes %></div>

<hr>
</div>
</div>



<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "customer_templates/customer_customer_concerns" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "customer_templates/customer_routines" %>
  </div>
</div>



<div class="row mb-3">
<div class="col-md-8 offset-md-2">
  

    <div class="row mb-3">
      <div class="col">
        <a href="/customers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/customers/<%= @customer.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit customer
        </a>
      </div>

      <div class="col">
        <a href="/delete_customer/<%= @customer.id %>" class="btn btn-block btn-outline-secondary">
          Delete customer
        </a>
      </div>
    </div>
    
      </div>
</div>
